button {
  width: 100%;
  margin: 3% auto;
  border: none;
  padding: 4px;
  background: none;
  text-align: center;
  font-size: 0.75em;
  cursor: pointer;
}

button:hover {
  background-color: khaki;
}